{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	{% endblock %}
	
</head>
<body class="animsition">
	{% block body %}

	<!-- Product Detail -->
	<div class="container bgwhite p-t-35 p-b-80 m-b-45">
		<div class="flex-w flex-sb">
			<div class="w-size13 p-t-30 respon5">
				<div class="wrap-slick3 flex-sb flex-w">
					<div class="wrap-slick3-dots"></div>

					
							<div class="wrap-pic-w ">
								<img src="{{ Books.BookImage }}" alt="IMG-PRODUCT">
							</div>
					
				</div>
			</div>

			<div class="w-size14 p-t-30 respon5">
				<h4 class="product-detail-name m-text16 p-b-13">
						{{ Books.BookName }}
				</h4>

				<span class="m-text17">
					<span class="currency" >IND ₹. {{ Books.BookPrice }}</span>
				</span>

				<p class="s-text8 p-t-10">
					<b>Author :</b> {{ Books.Author }}
				</p>

				<!--  -->

				<div class="p-b-45">
					<span class="s-text8 m-r-35"><b>Publication:</b> {{ Books.Publication }} </span>
					<span class="s-text8"><b>Categories: </b> {{ Books.Category }} </span>
				</div>

				<!--  -->
				<div class="wrap-dropdown-content bo6 p-t-15 p-b-14 m-b-20">
					<h5 style="color:#888888;">
						Description
					</h5>
					<p class="s-text8">
							{{ Books.BookDesc }}
						</p>
				</div>
				{% if Books.BookStock == 0 %}
					<span style="font-size:30px; color:red;">Out of Stock</span>
				{% else %}
				<div class="flex-r-m flex-w p-t-10">

							<div class="btn-addcart-product-detail size15 trans-0-4 m-t-10 m-b-10">
								<!-- Button -->
								<a class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" href="{% url 'Cart:add_to_cart' Books.id %}">
									add to Cart
								</a>
							</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>



	{% endblock %}
</body>
</html>
